header{
    height: 80px;
}

main{
    height: calc(100vh - 140px);
    min-height: 500px;
    background-color: aquamarine;
    overflow-y: auto;

}

footer {
    height: 60px;
}

footer a{
    padding-left: 10px;
}



.cs-row{
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    
}

.cs-col{
    /* width: 50px;
    height: 50px; */
    border: 1px solid black;
}

.pointer{
    cursor: pointer;
}